# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Build artifacts
dist/
build/
